      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" [(ngModel)]="user.loginId" name="loginId" placeholder="username"  />
              </div>
              <div>
                <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="password"  />
              </div>
              <div>
                <a class="btn btn-default submit" (click)="login()">Log in</a>
              </div>
              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Waiter가 처음이신가요 ?
                  <a [routerLink]="['/join']"> 회원가입 </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Waiter</h1>
                </div>
              </div>
            </form>
          </section>
        </div>

      </div>
